<%= form_for(:user, url: login_path) do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email %><br>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password %><br>
    <br>
    <div class="alert">
    <%= flash[:alert] %>
    </div>
    <br>
    <%= f.submit "Login" %>
<% end %>