<h1>Welcome to Your Homepage </h1>

<h2>Herbs</h2>
<ul>
<% @herbs.each do |herb|%>
   <li><p><%= link_to "#{herb.name}", herb_path(herb) %></p></li>
<% end %>
</ul>

<%= button_to "Create A New Herb", new_herb_path, method: "get" %>




<h2>Remedies</h2>
<ul>
<% @remedies.each do |remedy|%>
   <li><p><%= link_to "#{remedy.title}", user_remedy_path(:user_id, remedy) %></p></li>
<% end %>
</ul>




<%= button_to "Create A New Remedy", new_user_remedy_path(:user_id, :remedy_id), method: "get" %>
<%= button_to "Logout", logout_path, method: "get" %><br>
<% if session[:user_id] %>
  <h1><%= @user.name %></h1>
  <h2>Email: <%= @user.email %></h2>
  <h2>Facebook UID: <%= @user.uid %></h2>
  <img src="<%= @user.image %>">
<% else %>
  <%= link_to('Log in with Facebook!', '/auth/facebook') %>
<% end %>
