<h1><%= @herb.name %></h1>

    <p><strong>Latin Name:</strong> <%= @herb.latin_name %></p>
    <br>
    <p><strong>Family:</strong> <%= @herb.family %></p>
    <br>
    <p><strong>Medicinal Parts:</strong> <%= @herb.medicinal_parts %></p>
    <br>
    <p><strong>Taste:</strong> <%= @herb.taste %></p>
    <br>
    <p><strong>Energetics:</strong> <%= @herb.energetics %></p>
    <br>
    <p><strong>Action:</strong> <%= @herb.action %></p>
    <br>
    <p><strong>Ideal For:</strong> <%= @herb.ideal_for %></p>
    <br>
    <p><strong>Application:</strong> <%= @herb.application %></p>
    <br>
    <p><strong>Dosage:</strong> <%= @herb.dosage %></p>
    <br>
    <p><strong>Considerations:</strong> <%= @herb.considerations %></p>
    <br>
    
